/* 
------------------------
Damayos.org
-----------------------
2015 webmonkeyforhire.com
all CSS Sean P Mayo
-----------------------

    colors
Promo Heading Text #cc6633
Mid Bar Text #cc3300
Midbar #ffcc99
Background #cc6000
Link #6699cc

*/




@charset "UTF-8";

/* Layout Medium Screens */

header {
	height: 150px;
	background: url(../images/banner_medium.jpg) no-repeat 90% 0px;
}

header a.logo {
	width: 115px; height: 65px;
	top: 45px; left: 25px;
	background-image: url(../images/logo_medium.png);
}

.promo_container { padding: 0px 20px 15px 20px; }
.promo_container .promo { background-position: 0px 0px; }
.promo_container .promo .content { padding: 70px 30px 0px 0px; }

nav {  top: 150px; }
nav a { margin: 12px 0px 10px 20px; }

